.root {
  max-width: 1820px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .info {
    max-width: 900px;
    width: 100%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    gap: 25px;


    h1,h2 {
      font-family: ViVL RAIL;
      font-size: 48px;
      font-weight: 400;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      list-style: outside;
      margin-left: 15px;
      li {
        font-family: 'Blender Pro 300', 'serif';
        font-size: 22px;
      }
    }
    p {
      font-size: 28px;
      font-family: 'Blender Pro 500', 'serif';
    }
  }

  .refundBg {
    max-width: 1820px;
    width: 100%;
    min-height: 530px;
    background: url(../../public/assets/images/refund_girl.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .social_links {
    display: flex;
    gap: 10px;
    transition: color .3s ease-in-out;
    .social_link {
      cursor: pointer;
      path {
        transition: .3s ease-in-out;
      }
      &:hover {
        path:last-child {
          // fill: #dd2c41c6;
        }
      }
    }
  }
}