.cartContent {
  padding: 60px 0;
  max-width: 1200px;
  margin: 0 auto;
  .cartItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-content: center;

  }
  .placeholder {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;   
    font-family: 'Blender Pro 500';
    font-size: 48px; 
  }
  .cartTotal {
    padding-top: 30px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h3 {
      color: #ffffff;
      font-family: var(--vivl-font);
    }
    p {
      color: #ffffff;
      font-family: var(--vivl-font);
    }
    button {
      width: 263px;
      font-size: 26px;
      font-family: var(--vivl-font);
      border: 2px solid #ffffff;
      background: #000;
      color: #ffffff;
      padding: 7px;
      transition: all ease-in-out 0.3s;
      &:hover {
        background: #ffffff;
        color: #000;
      }
    }
  }
}