.search {
  width: 500px;
  background: url(../../../public/assets/images/catalog_search_border.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  color: #fff;
  padding: 0 20px;

  input,
  button {
    border: none;
    color: #fff;
    background: none;
    outline: none;
    padding: 12px 17px 9px 32px;
    font-size: 20px;
  }
  button {
    text-align: center;
    border-left: 2px solid #fff;
    position: relative;
    &::before {
      top: 0;
      position: absolute;
      right: 4px;
      content: "";
      background: #fff;
      width: 2px;
      height: 100%;
      transform: rotate(-29deg);
    }
    &::after {
      top: 0;
      position: absolute;
      right: -3px;
      content: "";
      background: #fff;
      width: 2px;
      height: 100%;
      transform: rotate(-29deg);
    }
  }
  &::before {
    position: absolute;
    left: 23px;
    content: "";
    background: #fff;
    width: 2px;
    height: 100%;
    transform: rotate(-29deg);
  }
  &::after {
    position: absolute;
    left: 17px;
    content: "";
    background: #fff;
    width: 2px;
    height: 100%;
    transform: rotate(-29deg);
  }
  position: relative;
}
.input_wrapper {
  width: 100%;
  position: relative;
}
.search_btn {
  width: 50%;
}
.search_results {
  position: absolute;
  top: 100%;
  right: 0;
  width: 96%;
  border-top: none;
  //display: none;
  z-index: 10;
  &.active {
    display: block;
  }
  .search_results_wrapper {
    padding: 18px;
    padding-bottom: 22px;
    backdrop-filter: blur(10px);
    background: #0008;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    position: relative;
    clip-path: polygon(0% 1%, 99% 1%, 100% 93%, 94% 100%, 62% 100%, 59% 97%, 40% 97%, 35% 100%, 5% 100%, 0 93%);

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 10px;
      left: 0;
      bottom: -10px;
      backdrop-filter: blur(10px);
      background: #0008;
    }
    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 10px;
      left: 0;
      bottom: 2px;
      background-image: url(../../../public/assets/images/search_bottom_border.png);
      background-repeat: no-repeat;
      // background-position: 100% 100%;
      background-size: 100% 100%;

    }
    .result_item {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      font-family: 'Blender Pro 500';
      font-size: 32px;

      .card {
        display: flex;
        align-items: center;
        gap: 20px;
        img {
          width: 100px;
          height: 100px;
          clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 100% 100%, 10% 100%, 0% 100%, 0% 10%);
        }
        h4 {
          font-size: 18px;
        }
        h5 {
          font-size: 18px;
        }
        p {
          line-clamp: 3;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .search_reversed {
    // margin-top: 50px;
  }
}