.search {
  max-width: 600px;
  background: url(../../../../public/assets/images/search_border.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  margin-left: auto;
  color: #fff;

  input,
  button {
    border: none;
    color: #fff;
    background: none;
    outline: none;
    padding: 12px 17px 9px 32px;
    font-size: 20px;
  }
  button {
    border-right: 2px solid #fff;
  }
  &::before {
    position: absolute;
    left: -5px;
    content: "";
    background: #fff;
    width: 2px;
    height: 100%;
    transform: rotate(-25deg);
  }
  &::after {
    position: absolute;
    left: 2px;
    content: "";
    background: #fff;
    width: 2px;
    height: 100%;
    transform: rotate(-25deg);
  }
}
.search_btn {
  width: 50%;
}
.input_wrapper {
  width: 100%;
  position: relative;
}
.search_results {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  border-top: none;
  //display: none;
  z-index: 10;
  &.active {
    display: block;
  }
  .search_results_wrapper {
    padding: 18px;
    backdrop-filter: blur(10px);
    background: #0008;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 10px;
      left: 0;
      bottom: -8px;
      background-image: url(../../../../public/assets/images/search_bottom_border.png);
      background-repeat: no-repeat;
      // background-position: 100% 100%;
      background-size: 100% 100%;
    }
    .result_item {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;

      .card {
        align-items: center;
        gap: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 100px 1fr;
        img {
          width: 100px;
          height: 100px;
          clip-path: polygon(
            10% 0%, 90% 0%, /* Top side */
            100% 10%, 100% 90%, /* Right side */
            90% 100%, 10% 100%, /* Bottom side */
            0% 90%, 0% 10% /* Left side */
            );
          }
        h4 {
          font-family: 'Blender Pro 500';
          font-size: 18px;
        }
        h5 {
          font-family: 'Blender Pro 300';
          font-size: 18px;
        }
        p {
          font-family: 'Blender Pro 200';
          line-clamp: 3;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .search_reversed {
    // margin-top: 50px;
  }
}