.cartCard {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  .img {
    width: 220px;
    height: 200px;
    background: #d9d9d9;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    clip-path: polygon(12% 0, 100% 0, 100% 41%, 95% 46%, 95% 93%, 87% 100%, 0% 100%, 0 11%);

  }
  .info {
    .cross {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 5px;

      button {
        padding: 0;
        background: none;
        border: none;
        color: #ffffff;
        cursor: pointer;
      }
    }
    h3 {
      font-family: var(--vivl-font);
      color: #ffffff;
      font-size: 18px;
    }
    p {
      padding-top: 10px;
      color: #ffffff;
      font-weight: 300;
      font-size: 16px;
      font-family: 'Blender Pro', sans-serif;
      width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}

@media screen and (max-width: 600px) {
  .cartCard {
    width: 335px;
    .img {
      width: 160px;
      height: 180px;
    }
    .info {
      h3 {
        font-size: 15px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
